.Cardss{
    background-color: white;
    width: 100%;
    height: 100%;

    
}
.main-heading1{
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
}

.main-para1{
    font-size: medium;
    text-align: center;
}

.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 10px;
}

/* Card-1 */

.card-1{
    width: 25%;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px 1.5px rgba(0,0,0,0.5);
}

.card-1:hover{
    opacity: 0.8;
}

.card-1-img{
    width: 100%;
}
.card-1-heading{
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: rgb(90, 0, 0);
}

.card-1-para{
    font-size: smaller;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.card-1-btn1{
    color: white;
    background-color: rgb(90, 0, 0);
    border: 1px solid black;
    font-size: smaller;
    text-align: center;
    font-weight: 500;
    width: 90%;
    margin: 0px auto;
    padding: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Card-2 */

.card-2{
    width: 25%;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border: 2px solid black ; */
    box-shadow: 2px 2px 5px 1.5px rgba(0,0,0,0.5);
}

.card-2:hover{
    opacity: 0.8;
}
.card-2-img{
    width: 100%;
    /* height: 20%; */
}
.card-2-heading{
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: rgb(90, 0, 0);
}

.card-2-para{
    font-size: smaller;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.card-2-btn2{
    color: white;
    background-color: rgb(90, 0, 0);
    border: 1px solid black;
    font-size: smaller;
    text-align: center;
    font-weight: 500;
    width: 90%;
    margin: 0px auto;
    padding: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-2-btn2 :hover{
    color: blue;
}

/* Card-3 */

.card-3{
    width: 25%;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border: 2px solid black ; */
    box-shadow: 2px 2px 5px 1.5px rgba(0,0,0,0.5);
}

.card-3:hover{
    opacity: 0.8;
}
.card-3-img{
    width: 100%;
    /* height: 20%; */
}
.card-3-heading{
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: rgb(90, 0, 0);
}

.card-3-para{
    font-size: smaller;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.card-3-btn3{
    color: white;
    background-color: rgb(90, 0, 0);
    border: 1px solid black;
    font-size: smaller;
    text-align: center;
    font-weight: 500;
    width: 90%;
    margin: 0px auto;
    padding: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-3-btn3 :hover{
    color: blue;
}


@media (max-width:850px) {

    .card-3-heading{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        color: rgb(90, 0, 0);
    }
     
    
}

@media only screen and (max-width:500px){
    .main-heading1 {
        font-size: x-large;
        font-weight: 600;
        text-align: center;
    }
    .main-para1 {
        font-size: x-small;
        text-align: center;
    }

    .all-cards {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        cursor: pointer;
        margin-bottom: 25px;
        margin-top: 10px;
        flex-direction: column;
    }

    .card-1 {
        width: 60%;
        margin-left: 75px;
        margin-bottom: 20px;
        margin-top: 10px;
        box-shadow: 2px 2px 5px 1.5px rgb(0 0 0 / 50%);
    }

    .card-2 {
        width: 60%;
        margin-left: 75px;
        margin-bottom: 20px;
        margin-top: 10px;
        box-shadow: 2px 2px 5px 1.5px rgb(0 0 0 / 50%);
    }
    .card-3 {
        width: 60%;
        margin-left: 75px;
        margin-bottom: 20px;
        margin-top: 10px;
        box-shadow: 2px 2px 5px 1.5px rgb(0 0 0 / 50%);
    }
    
    .card-1-btn1 {
        color: white;
        background-color: rgb(90, 0, 0);
        border: 1px solid black;
        font-size: smaller;
        text-align: center;
        font-weight: 500;
        width: 80%;
        margin: 0px auto;
        padding: 2px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card-2-btn2 {
        color: white;
        background-color: rgb(90, 0, 0);
        border: 1px solid black;
        font-size: smaller;
        text-align: center;
        font-weight: 500;
        width: 80%;
        margin: 0px auto;
        padding: 2px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card-3-btn3 {
        color: white;
        background-color: rgb(90, 0, 0);
        border: 1px solid black;
        font-size: smaller;
        text-align: center;
        font-weight: 500;
        width: 80%;
        margin: 0px auto;
        padding: 2px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}