.Cart_main {
  width: 100%;
  height: 85vh;
  background-color: white;
}

.cart_box {
  width: 80%;
  height: 70vh;
  box-shadow: 2px 2px 5px 1.5px rgb(0 0 0 / 50%);
  margin-top: 130px;
  margin-bottom: 80px;
  margin-left: 125px;
  overflow: auto;
}

.cart_headings {
  width: 80%;
  display: flex;
  text-align: center;
  /* justify-content: space-around; */
  font-size: small;
  font-weight: 500;
  background-color: rgb(90, 0, 0);
  height: 7vh;
  align-items: center;
  color: white;
  position: absolute;
  z-index: 1;
}

.cart_heading_product {
  max-width: 20%;
  min-width: 20%;
}

.cart_heading_name {
  max-width: 20%;
  min-width: 20%;
}

.cart_heading_price {
  max-width: 20%;
  min-width: 20%;
}

.cart_heading_quantity {
  max-width: 13%;
  min-width: 13%;
}

.cart_heading_total {
  max-width: 13%;
  min-width: 13%;
}

.cart_heading_delete {
  max-width: 13%;
  min-width: 13%;
}

/* CART ALL DATA  */

.cart_all_data {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* IMAGE  */

.cart_main_img{
  max-width: 20%;
  min-width: 20%;
}

.cart_img > img {
  width: 30%;
  height: 10vh;
  cursor: pointer;
}

/* DATA  */

.cart_title {
  font-size: small;
  color: rgb(90, 0, 0);
  max-width: 20%;
  min-width: 20%;
}

.cart_price {
  font-size: small;
  color: rgb(90, 0, 0);
  max-width: 20%;
  min-width: 20%;
}

.cart_quantity {
  font-size: small;
  color: rgb(90, 0, 0);
  max-width: 13%;
  min-width: 13%;
  word-spacing: 20px;
  border: 1px solid black;
  padding: 3px;
  cursor: pointer;
}

.cart_total {
  font-size: small;
  color: rgb(90, 0, 0);
  max-width: 13%;
  min-width: 13%;
}

.cart_delete {
  font-size: none;
  max-width: 13%;
  min-width: 13%;
  cursor: pointer;
}

.divider {
  width: auto;
  height: 0.5px;
  opacity: 0.5;
  background-color: #626262;
}

.cart_gap{
  width: 100%;
  min-height: 40px;
}